.fade-in{
  transition: opacity 500ms linear;
  opacity: 1 !important;
}

.fade-out{
  transition: opacity 500ms linear;
  opacity: 0 !important;
}

.slide-up {
  animation: 300ms forwards linear slide-up;
}

.header, .text, .previa {
  opacity: 0;
  position: absolute;
}
.star-wars-intro .previa {
  color: rgb(74, 166, 202);
  text-shadow: 2px 2px 20px blue;
}


.star-wars-intro .header {
  font-size: 4rem;
  line-height: normal;
  text-align: left;
}

.star-wars-intro .header p {
  font-size: 1rem;
  font-style: italic;
  word-spacing: normal;
}

.star-wars-intro {
  color: #ffc909;
  font-size: 2rem;
  position: relative;
  text-transform: uppercase;
  text-align: justify;
  perspective: 450px;
}

.scroll {
  animation: scroll 30s linear  forwards;
}

@media only screen and (max-width: 600px) {
  .star-wars-intro .header {
    font-size: 2.2rem;
  }
}

@keyframes pulse {
  from{
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

@keyframes slide-up {
  from{
    transform: translateY(0);
  }
  to{
    transform: translateY(-50vh);
    opacity: 0;
  }
}

@keyframes scroll {
  from{
    transform: translateZ(500px) rotateX(80deg); 
  }
  to{
    transform: translateZ(-600px) rotateX(81deg);
  }
}
